# Google Mail 
PROJECT_ID="<Your Project ID>"
SENDER_EMAIL_ADDRESS="calvin.nvqc@gmail.com"
MAILING_SERVICE_CLIENT_ID="<Enter your Client ID>"
MAILING_SERVICE_CLIENT_SECRET="<Enter your Client Secret>"
MAILING_SERVICE_REFRESH_TOKEN="<Refresh Token>"

# smtp
EMAIL_SERVICE_HOST="hosturl"
EMAIL_SERVICE="servicename"
EMAIL_SERVICE_PORT=25
EMAIL_USER="username"
EMAIL_PASSWORD="password"
EMAIL_FROM="App Name <appemail@domain.com>"
MAILING_SERVICE_USERNAME="username"
MAILING_SERVICE_PASSWORD="password"

# Mongo db
MONGODB_URI=""

# mr nutty smtp
MRNUTTY_SENDER_EMAIL_ADDRESS="sample@mrnutty.co"
MRNUTTY_EMAIL_SERVICE_HOST="hosturl"
MRNUTTY_EMAIL_SERVICE="servicename"
MRNUTTY_EMAIL_SERVICE_PORT=25
MRNUTTY_EMAIL_USER="username"
MRNUTTY_EMAIL_PASSWORD="password"
MRNUTTY_EMAIL_FROM="App Name <appemail@domain.com>"

# rehoboth mailgun
REHOBOTH_MAILGUN_API_KEY="mailgun api key"
REHOBOTH_MAILGUN_DOMAIN="mailgun domain"
REHOBOTH_CONTACT_MAIL="Rehoboth <appemail@domain.com>>"