/* tailwind */
@import url("./tailwind.css");

:root {
  --background: #111111;
  --foreground: #ffffff;
  --secondary: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
